
/* General Reset */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /* Original */
    /* --bg-color : #080808;
    --second-bg-color : #131313;
    --text-color : white;
    --main-color : #00ffee; */

    /* Coffe */
    --bg-color : #ffffff;
	--snd-bg-color : #1a1919;
    --second-bg-color : transparent;
    --text-color : #252525;
	--snd-text-color : #fff;
    --main-color : #f2b49a;
	--snd-main-color : #8c5a41;
    /* d5aa72

    /* Violet */
    /* --bg-color : #080808;
    --second-bg-color : #131313;
    --text-color : #c5a3e0;
    --main-color : #652f8f; */

    /* color: #382312;
    color: #644a33;
    color: #987359;
    color: #dbc0ab;
    color: #ece0d0;

    color: #592607;
    color: #90230f;
    color: #bd2325;
    color: #e16726;
    color: #db9f60;

    color: #652f8f;
    color: #813cb9;
    color: #9556c8;
    color: #a774d1;
    color: #c5a3e0;
    color: #d8c1eb;
    color: #ece0f4; */
}


body
{
	font-family: 'Arial', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);;
	line-height: 1.6;
}

a
{
	text-decoration: none;
	color: inherit;
}

/* Top Bar */
.top-bar
{
	background-color: var(--snd-bg-color);
	color: var(--snd-text-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	font-size: 14px;
}

.top-bar .contact-info
{
	display: flex;
	gap: 20px;
}

.schedule {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* .day {
    background-color: #00796b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
} */

.top-bar .social-icons
{
	display: flex;
	gap: 10px;
	margin: 0;
}

.top-bar .social-icons a
{
	color: var(--snd-bg-color);
	transition: color 0.3s ease;
}

.top-bar .social-icons a:hover
{
	color: var(--main-color);
}

/* Header */
header
{
	background-color: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-head {
    display: flex; 
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Ajustable selon ton besoin */
    height: 50px; /* Format rectangulaire */
    /* background-color: #f0f0f0; Fond léger pour bien encadrer le logo */
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav
{
	display: flex;
	gap: 30px;
	margin-right: 20px;
}

nav a
{
	color: var(--text-color);
	font-weight: 500;
	transition: color 0.3s ease;
}

nav a:hover
{
	color: var(--main-color);
}

.contact-btn {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre le texte et le picto */
    padding: 11px 21px;
    font-size: 1.1em;
    background-color: var(--main-color);
    color: var(--snd-text-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-btn:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style du texte */
.label {
    font-weight: bold;
}

/* Style du picto SVG */
.picto svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--snd-text-color);
    stroke-width: 2px;
}

.contact-btn-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacement si tu veux ajouter un picto */
    padding: 11px 21px;
    font-size: 1.1em;
    background-color: var(--snd-main-color); /* Changement de couleur */
    color: var(--snd-text-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none; /* Pour éviter le soulignement par défaut */
}

.contact-btn-2:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


.hero
{
	position: relative;
	height: 100vh;
	background: url('../images/RR\ \(3\).jpg') no-repeat center center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--snd-text-color);
	text-align: center;
}

.hero::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.536);
	/* background-image: url(../images/1-3d-house-decoration.jpg); */
	/* background-size: cover;
	background-repeat: no-repeat; */
	/* Ajustez l'obscurité ici */
	opacity: .9;
	z-index: 1;
}

.hero-content
{
	position: relative;
	z-index: 2;
}

.hero h1
{
	font-size: 3em;
	margin: 0;
}

.hero p
{
	/* font-size: 1.2em; */
	margin: 10px 0;
}

.hero-content .contact-info {
    display: flex;
    align-items: center; /* Aligner les éléments correctement */
    gap: 20px;
    flex-wrap: nowrap; /* Empêcher le retour à la ligne */
	justify-content: center;
}

.schedule {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap; /* Empêcher le retour à la ligne */
}

.contact-info p {
	font-size: 15px;
}

.day {
    background-color: #d3ac98b0;
    color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
    display: inline-block;
}


/* Section */
.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 10px;
    /* background-color: var(--main-color); */
    color: var(--text-color)
}

.home-title h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

.home-title p {
    font-size: 1.2em;
    max-width: 700px;
}

.content-section
{
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 50px;
	background-color: var(--bg-color);
}

.content-item
{
	display: flex;
	align-items: center;
	gap: 30px;
}

.content-item:nth-child(even)
{
	flex-direction: row-reverse;
}

.content-text
{
	flex: 1;
	font-size: 16px;
	color: var(--text-color);
}

.pgh-content {
	margin-bottom: 25px;
}

.content-text h2
{
	font-size: 2.5em;
    font-weight: 900;
	margin-bottom: 20px;
    line-height: 1.5;
	color: var(--snd-main-color);
}

.content-image
{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #d9d9d9; */
	/* height: 250px;
	width: 100%; */
}

.content-image img {
	width: 100%;
	border-radius: 30px;
}

/* Hero Section */
.hero-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 50px;
	background-color: var(--bg-color);
}

.hero-section .hero-image
{
	position: relative;
	background-color: var(--bg-color);
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-section .hero-image .text-container
{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--snd-text-color);
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hero-section .hero-image .text-container .hero-text
{
	font-size: 24px;
	font-weight: bold;
	color: var(--text-color);
	text-align: left;
}

.advantages {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.advantage {
    background-color: var(--bg-color);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

/* Effet de survol */
.advantage:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

/* Différenciation des blocs avec couleurs */
.advantage:nth-child(1) {
    background-color: #f8c9b3; /* Vert foncé */
    color: #fff;
}

.advantage:nth-child(2) {
    background-color: #f2b49a; /* Orange */
    color: #fff;
}

.advantage:nth-child(3) {
    background-color: #d98a73; /* Bleu foncé */
    color: #fff;
}

/* Icônes avec arrière-plan stylisé */
.icon-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.738);
}

/* Titres */
.advantage h3 {
    font-size: 1.7em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Texte */
.advantage p {
    font-size: 1.1em;
    color: inherit;
}


.section-container-grille {
	text-align: center;
	padding: 20px;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	justify-items: center;
}
.photo-item img {
	width: 50vh;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
	aspect-ratio: 16/9; /* Rectangle */
}

.photo-item {
	flex: 0 1 48%;
	max-width: 48%;
	box-sizing: border-box;
}

.photo-title {
	font-size: 2em;
	font-weight: 900;
    color: var(--snd-main-color);
	margin-bottom: 10px;
}
.photo-text {
	font-size: 16px;
	color: #555;
	margin-bottom: 20px;
}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: var(--main-color);
    color: var(--snd-text-color);
    text-align: center;
    position: relative;
    overflow: hidden; /* Empêcher le débordement */
}

/* Image de fond transparente */
.cta-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    background-image: url('../images/CTA-Back.png'); /* Image personnalisée */
    background-size: contain; /* Ajuster l’image au bloc */
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.2; Ajustement de la transparence */
    pointer-events: none; /* Ne pas affecter les interactions */
}

.cta-section h2 {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    z-index: 2; /* S'assurer qu'il reste visible */
}

.cta-section p {
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
    z-index: 2;
}

/* Bouton stylisé */
.btn-outline-cta {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid var(--snd-text-color);
    background: transparent;
    color: var(--snd-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 2;
}

.btn-outline-cta:hover {
    background: var(--snd-text-color);
    color: var(--main-color);
}

.picto svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
}

/* CTA2 serction */
.contact-section
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	background-color: var(--bg-color);
}

.contact-content
{
	position: relative;
	background-color: var(--bg-color);
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 70vh;
	height: 40vh;
	z-index: 2;
}

.contact-content h2
{
	font-size: 2em;
	color: var(--text-color);
	margin-bottom: 20px;
}

.btn-outline-cta
{
	background-color: transparent;
	border: 2px solid var(--bg-color);
	color: var(--snd-text-color);
	padding: 11px 21px;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 5px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-outline-cta:hover{
	transform: translateY(-2px);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-image
{
	position: relative;
	margin-left: -20px;
	/* Adjust as needed */
}

.contact-image img
{
	width: 86vh;
	height: auto;
	z-index: 1;
}

/* Footer */
footer
{
	background-color: var(--bg-color);
	padding: 40px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-section, .footer-section-social, .footer-section-cta {
    flex: 1;
    margin: 20px;
    min-width: 200px;
    text-align: left; /* Centrer les éléments */
}

.footer-section-social ul {
    list-style: none;
}

.footer-section .logo img {
    max-width: 25vh;
    height: auto;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    gap: 2px;
	margin-top: 20px;
}

.contact-details p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacement entre le picto et le texte */
    text-decoration: none;
    color: var(--accent-color);
    /* font-weight: bold; */
	text-decoration: underline;
    transition: color 0.3s ease, transform 0.2s ease;
}

.contact-link:hover {
    color: var(--main-color);
    transform: translateY(-2px);
}

.footer-picto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--light-gray); /* Ajoute un fond léger */
    border-radius: 50%;
}

.footer-picto svg {
    width: 16px;
    height: 16px;
    stroke: var(--snd-text-color);
}

.footer-section ul
{
	list-style: none;
}

.footer-section ul li
{
	margin-bottom: 10px;
}

.social-icons
{
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-top: 20px;
}

.social-icons a
{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	color: var(--snd-text-color);
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.social-icons a:hover
{
	background-color: #f5d3be;
}

.copyright
{
	text-align: center;
	margin-top: 20px;
	color: var(--text-color);
	font-size: 12px;
	flex-basis: 100%;
}

/* CONTACT */
/* Structure des sections */
.main-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 50px auto;
    gap: 30px;
}

/* Bloc gauche et droit */
.main-contact .left, .right {
    flex: 1;
    /* padding: 25px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    /* background: #ffffff; */
}

/* Fond spécifique pour les sections de droite */
/* #contact .right, #legal .right, #sitemap .right {
    background: #f3f3f2d1;
} */

/* Titres et texte */
.main-contact h1, h2, h3 {
    color: var(--text-color);
}

.main-contact p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Éléments spécifiques */
.main-contact .map-container {
    margin-top: 20px;
    background: #ececec;
    padding: 15px;
    border-radius: 8px;
}

/* Formulaire */
.main-contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-contact label {
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-color);
}

.main-contact select, textarea, input {
    background: #fff;
    color: var(--snd-bg-color);
    padding: 12px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

.main-contact select:focus, textarea:focus, input:focus {
    border-color: var(--text-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Bouton d'envoi */
.main-contact .submit-btn {
    background: var(--snd-main-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

.main-contact .submit-btn:hover {
    transform: translateY(-2px);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mode responsive */
@media screen and (max-width: 360px) {
    .top-bar {
        width: 51vh;
        padding: 10px;
        display: block;
    }

    .top-bar .contact-info {
        font-size: 9px;
        justify-content: center;
        margin-bottom: 10px;
    }

    .top-bar .social-icons a {
        width: 23px;
        height: 23px;
    }

    .top-bar .social-icons a svg {
        width: 15px;
        height: 15px;
    }

    header {
        width: 51vh;
        justify-content: center;
    }

    header .logo {
        width: 155px;
    }

    header .nav-head {
        display: none;
    }

    .hero {
        width: 51vh;
        justify-content: center;
    }

    .hero .hero-content h1 {
        font-size: 1.5em;
    }

    .hero .hero-content p {
        font-size: 0.8em;
    }

    .hero .hero-content .contact-btn-2 {
        font-size: 13px;
        padding: 8px;
    }

    .hero .hero-content .contact-btn-2 .picto {
        font-size: 10px;
    }

    .hero .hero-content .contact-info .schedule {
        font-size: 0.7em;
    }

    .content-section {
        padding: 25px;
    }

    .home-title {
        padding: 0;
        justify-content: center;
        width: 38vh;
    }

    .content-item {
        display: grid;
        width: 38vh;
    }

    .contact-section {
        display: grid;
        width: 5vh;
        padding: 40px 0 40px 0; 
    }

    .contact-section .contact-content {
        width: 92%;
        position: absolute;
    }

    .contact-section .contact-image {
	    position: relative;
	    margin-left: 32px;
	}

    .advantages {
        display: grid;
        width: 47vh;
        padding: 15px;
    }

    .advantages .advantage {
        width: 44vh;
    }

    .section-container-grille {
        width: 47vh;
    }

    .section-container-grille .photo-grid {
        display: inline;
    }

    .section-container-grille .photo-item img {
        width: 42vh;
    }

    .cta-section {
        width: 46vh;
    }

    .cta-section p {
        font-size: 15px;
    }

    .cta-section::before {
        display: none;
    }

    footer {
        width: 81vh;
        padding: 10px 0;
        display: block;
    }

    .footer-section {
        width: 39vh;
        margin-top: 40px;
        margin-left: 68px;
    }

    .footer-section .logo {
        padding-left: 85px;
    }
    
    .footer-section .contact-details {
        margin-top: 35px;
    }

    .footer-section, .footer-section-social, .footer-section-cta {
        flex: none;
    }

    .footer-section-social {
        width: 39vh;
    }

    .footer-section-social ul {
        display: flex;
        padding-left: 20px;
    }

    .footer-section-social ul li {
        font-size: 12px;
        padding: 0 10px;
    }

    .footer-section-cta {
        display: none;
    }

    footer .copyright {
        width: 44vh;
    }
    
    .main-contact {
        flex-direction: column;
        gap: 20px;
    }

    .main-contact .left, .right {
        min-height: auto;
        padding: 20px;
    }

    .main-contact .right {
        order: 2;
    }

    .main-contact .left {
        order: 1;
    }

    .main-contact form {
        width: 90%;
    }
}
